{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>System rozgrywek</h1>
        <p>Knightlik</p>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">KNIGHTLIK.COM</a>
                </div>
                <div>
                    {%
                    set mainMenu = [
                    {'path':'team_new','name':'Add Team'},
                    {'path':'participant_new','name':'Add player'},
                    {'path':'tournament_new','name':'Add tournament'},
                    {'path':'team_index','name':'List Teams'},
                    {'path':'participant_index','name':'List players'},
                    {'path':'tournament_index','name':'List tournaments'},
                        {'path':'onematch_index','name':'List matches'}
                    ]
                    %}
                    <ul class="nav navbar-nav">
                        {% for item in mainMenu %}

                            <li {{ app.request.get('_route') == item['path'] ? 'class="active"' : '' }}><a href="{{ path(item['path']) }}">{{ item['name'] }}</a></li>
                        {% endfor %}
                        {#<li class="active"><a href="{{ path('info') }}">Info</a></li>#}
                        {#<li ><a href="{{ path('new_quiz') }}">Nowy quiz</a></li>#}
                        {#<li><a href="{{ path('questions_pagination') }}">Pytania</a></li>#}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <section>
        {% block contents %}{% endblock %}
    </section>

    <div class="row">
        <div class="col-sm-12 footer" >

            <p>Copyright 2016 REJKI</p>

        </div>
    </div>
    {% endblock %}
