{% extends '::layout.html.twig' %}
{% block title %}Participants list{% endblock %}
{% block contents %}
    <h1>Participants list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th{% if pagination.isSorted('participant.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'participant.id',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th{% if pagination.isSorted('participant.firstName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'FirstName', 'participant.firstName',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th{% if pagination.isSorted('participant.lastName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'LastName', 'participant.lastName',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th{% if pagination.isSorted('participant.nickName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'NickName', 'participant.nickName',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th{% if pagination.isSorted('participant.role') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Role', 'participant.role',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th{% if pagination.isSorted('participant.teamId.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Team', 'participant.teamId.id',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in pagination %}
            <tr>
                <td><a href="{{ path('participant_show', { 'id': participant.id }) }}">{{ participant.id }}</a></td>
                <td>{{ participant.firstName }}</td>
                <td>{{ participant.lastName }}</td>
                <td>{{ participant.nickName }}</td>

                {% if participant.role == 1 %}
                    <td>Captain</td>
                {% elseif participant.role == 2 %}
                    <td>Player</td>
                {% elseif participant.role == 3 %}
                    <td>Reserve</td>
                {% endif %}
                <td>
                    {{participant.teamId.id }}
                </td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('participant_show', { 'id': participant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participant_edit', { 'id': participant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participant_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
