{% extends '::layout.html.twig' %}
{% block title %}Participant show{% endblock %}
{% block contents %}
    <h1>Participant show</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ participant.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ participant.lastName }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ participant.nickName }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ participant.role }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('participant_edit', { 'id': participant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
