{% extends 'base.html.twig' %}

{% block body %}
    <h1>OneMatch add winner Team</h1>

    {{ form_start(addWinner_form) }}
        {{ form_widget(addWinner_form) }}
        <input type="submit" value="Add" />
    {{ form_end(addWinner_form) }}

    <ul>
        <li>
            <a href="{{ path('onematch_index') }}">Back to the list</a>
        </li>

    </ul>
{% endblock %}
