{% extends '::layout.html.twig' %}
{% block title %}List Matches{% endblock %}
{% block contents %}


    <h1>Matches list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Druzyna1</th>
                <th>Druzyna2</th>
                <th>Winnerteam</th>
                <th>Incomingmatchid</th>
                <th>Phase</th>
                <th>TournamentID</th>
            </tr>
        </thead>
        <tbody>
        {% for oneMatch in oneMatches %}
            <tr>
                <td><a href="{{ path('onematch_show', { 'id': oneMatch.id }) }}">{{ oneMatch.id }}</a></td>
                <td>{{ oneMatch.idTeam1 }}   </td>
                <td>{{ oneMatch.idTeam2 }}   </td>
                <td>{% if  oneMatch.winnerTeam  == false and oneMatch.idTeam1 == true and oneMatch.idTeam2 == true  %}
                        <p><a href="{{ path('onematch_add_winner', { 'id': oneMatch.id }) }}">Add winner</a></p>
                    {% endif %}
                    {{ oneMatch.winnerTeam }}   </td>
                <td>{{ oneMatch.incomingMatchId }}  </td>
                <td>{{ oneMatch.phase }}  </td>
                <td>{{ oneMatch.tournamentId}}  </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('onematch_show', { 'id': oneMatch.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('onematch_edit', { 'id': oneMatch.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('onematch_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
