{% extends 'base.html.twig' %}

{% block body %}
    <h1>OneMatch</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ oneMatch.id }}</td>
            </tr>
            <tr>
                <th>Winnerteam</th>
                <td>{{ oneMatch.winnerTeam }}</td>
            </tr>
            <tr>
                <th>Incomingmatchid</th>
                <td>{{ oneMatch.incomingMatchId }}</td>
            </tr>
            <tr>
                <th>Phase</th>
                <td>{{ oneMatch.phase }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('onematch_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('onematch_edit', { 'id': oneMatch.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
