{% extends '::layout.html.twig' %}
{% block title %}tournaments list{% endblock %}
{% block contents %}

    <h1>tournaments list</h1>
    <div class="count">
        <h4>  Total tournament  {{ pagination.getTotalItemCount }} </h4>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'tournament.id',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
            <th{% if pagination.isSorted('tournament.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'tournament.name',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in pagination %}
            <tr>
                <td><a href="{{ path('tournament_show', { 'id': tournament.id }) }}">{{ tournament.id }}</a></td>
                <td>{{ tournament.name }}</td>
                <td><a href="{{ path('add_teams_to_matches', { 'id': tournament.id }) }}">Losuj 1 faze</a></td>
                {% if tournament.isStarted == 1 %}
                    <td>Show turnament</td>
                {% elseif tournament.isStarted == 0 %}
                    <td><a href="{{ path('tournament_start', { 'id': tournament.id }) }}">Start tournament</a></td>

                {% endif %}

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('add_teams_in_tournament', { 'id': tournament.id }) }}">Manage Teams</a>
                        </li>
                        <li>
                            <a href="{{ path('tournament_tree', { 'id': tournament.id }) }}">Show tree</a>
                        </li>
                        <li>
                            <a href="{{ path('tournament_show', { 'id': tournament.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tournament_new') }}">Create a new entry</a>
        </li>
    </ul>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
