{% extends '::layout.html.twig' %}
{% block title %}Turnament  Add{% endblock %}
{% block contents %}
    <h1>Tournament creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tournament_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
