{% extends '::layout.html.twig' %}
{% block title %}Tournament show{% endblock %}
{% block contents %}
    <h1>Tournament</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tournament.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tournament.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tournament.isStarted }}</td>
            </tr>
            <tr>
                <th>Teams</th>
            </tr>
            <tr>
                <td>
                    {% for team in tournament.teams %}
                        <li>
                            {{ team.name}}
                        </li>
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tournament_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tournament_edit', { 'id': tournament.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
