{% extends '::layout.html.twig' %}
{% block title %}Team show{% endblock %}
{% block contents %}

    <h1>Team list</h1>
    <div class="count">

    </div>
    <table class="table table-hover">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.name }}</td>
                <td>{{ team.tag }}</td>


                {% if team.level == 1 %}
                    <td>Gold</td>
                {% elseif team.level == 2 %}
                    <td>Silver</td>
                {% elseif team.level == 3 %}
                    <td>Bronze</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('team_show', { 'id': team.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('team_edit', { 'id': team.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_new') }}">Create a new entry</a>
        </li>
    </ul>

{% endblock %}
