{% extends '::layout.html.twig' %}
{% block title %}tournament show{% endblock %}
{% block contents %}

    <h1>tournament tree</h1>

<main id="tournament">

    <ul class="round round-1">
        {% set i = 1  %}
        {% for match in matches %}
            {% if match.phase == 1 %}
                <li class="game game-top ">Druzyna{{ i }}:{{ match.idTeam1 }}</li>
                {% set i = i +1  %}
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Druzyna{{ i}}:{{ match.idTeam2 }} </li>
                {% set i = i +1  %}
            {% endif %}
        {% endfor %}
            </ul>

    <ul class="round round-2">
        {% for match in matches %}
            {% if match.phase == 2 %}
                <li class="spacer">&nbsp;</li>
                {#<li class="game game-top winner">Druzyna1:{{ match.idTeam1 }} </li>#}
                <li class="game game-top ">Druzyna1:{{ match.idTeam1 }} </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Druzyna2:{{ match.idTeam2 }} </li>

            {% endif %}
        {% endfor %}
    </ul>

    <ul class="round round-3">
        {% for match in matches %}
            {% if match.phase == 3 %}
                <li class="spacer">&nbsp;</li>

                <li class="game game-top ">Druzyna1:{{ match.idTeam1 }} </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Druzyna2:{{ match.idTeam2 }} </li>

            {% endif %}
        {% endfor %}
    </ul>
    <ul class="round round-4">
        {% for match in matches %}
            {% if match.phase == 4 %}
                <li class="spacer">&nbsp;</li>

                <li class="game game-top ">Druzyna1:{{ match.idTeam1 }} </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">Druzyna2:{{ match.idTeam2 }} </li>
            {% endif %}
        {% endfor %}
    </ul>





</main>



{% endblock %}
