{% extends '::layout.html.twig' %}
{% block title %}Team edit{% endblock %}
{% block contents %}
    <h1>Team edit</h1>
    {{ form(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}


    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
