{% extends '::layout.html.twig' %}
{% block title %}Team list{% endblock %}
{% block contents %}

<h1>Team list</h1>
    <div class="count">
        <h4>  Total Team  {{ pagination.getTotalItemCount }} </h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'team.id',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th{% if pagination.isSorted('team.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'team.name',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tag', 'team.tag',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Level', 'team.level',[],[],'KnpPaginatorBundle:Pagination:sortable_link.html.twig') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in pagination %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.name }}</td>
                <td>{{ team.tag }}</td>


                    {% if team.level == 1 %}
                <td>Gold</td>
                {% elseif team.level == 2 %}
                    <td>Silver</td>
                {% elseif team.level == 3 %}
                <td>Bronze</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('team_show', { 'id': team.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('team_edit', { 'id': team.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_new') }}">Create a new entry</a>
        </li>
    </ul>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
