{% extends '::layout.html.twig' %}
{% block title %}Team creation{% endblock %}
{% block contents %}
    <h1>Team creation</h1>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_start(form) }}

    {{ form_errors(form) }}
        {{ form_widget(form) }}

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
