{% extends '::layout.html.twig' %}
{% block title %}Team show{% endblock %}
{% block contents %}
    <h1>Team show</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ team.tag }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ team.level }}</td>

            </tr>
            <tr>
                <th>Participant</th>
                </tr>
            <tr>
                <td>
                    {% for player in team.players %}
                        <li>
                            {{ player.firstName}}
                        </li>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('team_edit', { 'id': team.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
